body {
    background-color: #f5ead7;
}
.container {
    width: 70rem;
    margin: 0 auto;
    position: relative;
}
hr {
    border: none;
    border-top: 1px solid rgb(230, 214, 214);
    margin: 0 auto;
    margin-bottom: 1rem;
}
img {
    width: 12rem;
    margin-bottom: 1rem;
}
.contacts {
    position: absolute;
    top: 6rem;
    left: 15rem;
}
ul {
    padding-left: 1rem;
}
span {
    font-style: italic;
}
header {
    margin-bottom: 1rem;
}

a {
    color: black;
}

.logo {
    width: 6rem;
    margin-bottom: 0rem;
}

.course {
    display: block;
}

.footer {
    position: relative;
}

.footer-right {
    position: absolute;
    right: 0rem;
    bottom: -0.6rem;
}
